::placeholder{
    color:white
}
h1 {
    background-color: darkcyan;
}
/* .middle-col{
    background-color: darkmagenta; */
/* } */
.left-col{
    background-color: darksalmon;
}
#btn-9,#btn-10,#btn-11,#btn-12,#btn-13,#btn-14,#btn-15,#btn-16,#btn-17{

        content: "";
    
        display: inline-block;
        vertical-align: text-top;
        background-color: blue;
        background-position : center center;
        background-repeat:no-repeat;
        background-image:url(https://icons.iconarchive.com/icons/paomedia/small-n-flat/16/floppy-icon.png);
}
.calendar-entry{
    background-color:purple;
    width: 100%;
    color:white;
}
#time{
    color: black;
}
.past{
    background-color:crimson;
}
.future{
    background-color: rgb(32, 151, 32);
}
.present{
    background-color: darkslateblue;
}